eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://service-registry:8761/eureka/
  instance:
    hostname: service-registry
    
  
microservice:
  account-service:
    endpoints:
      endpoint:
        uri:http://ACCOUNT-SERVICE/account/create
  ticket-service:
    endpoints:
      endpoint:
        uri:http://TICKET-SERVICE/ticket/book
        
test: http://TICKET-SERVICE/ticket/book
auth: http://AUTHENTICATE-SERVICE/secure/token/validate
